/* Mobile First*/

/* Pour les écrans de smartphone */
.map-container {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.map-title {
    text-align: center;
}

#map {
    width: 320px;
    height: 320px;
}
/* Cartes */
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    flex: 1 1 25px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(255, 192, 203, 0.2);
    width: 45%;
}

.card-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.card h3 {
    color: #c74b7a;
}

.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Pour les écrans de tablettes */
@media screen and (min-width: 768px) {
    #map {
        width: 600px;
        height: 600px;
    }

    .card-image {
        height: 100px;
    }
}

/* Pour les écrans d'ordinateur */
@media screen and (min-width: 1200px) {
    #map {
        width: 1200px;
        height: 1200px;
    }

    .card-image {
        height: 300px;
    }
}