<div class="map-container">
    <h1 class="map-title">Répartition géographique des flamants roses dans le monde</h1>
    <div id="map" style="height: 500px;"></div>
</div>


<article class="section" aria-labelledby="geographic">
    <h2 id="geographic">Répartition Géographique</h2>
    <p>Les flamants roses peuvent être trouvés dans plusieurs régions du monde, notamment :</p>
    <div class="cards">
        <div class="card" aria-labelledby="africa">
            <h3 id="africa">Afrique</h3>
            <img src="https://images.unsplash.com/photo-1731375721420-af54b0aa4f7a?q=80&w=939&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Flamants rose en Afrique" class="card-image">
            <p>Les flamants roses sont très présents sur le continent africain, notamment dans les zones côtières et les lacs salés de l'Afrique de l'Est.</p>
        </div>
        <div class="card" aria-labelledby="europe">
            <h3 id="europe">Europe</h3>
            <img src="https://images.unsplash.com/photo-1686854015614-f8ea12c5632a?q=80&w=880&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Flamants roses en Europe" class="card-image">
            <p>On les retrouve dans le sud de l'Europe, notamment dans les marais de la région méditerranéenne (Espagne, France, Italie).</p>
        </div>
        <div class="card" aria-labelledby="america">
            <h3 id="america">Amérique</h3>
            <img src="https://images.unsplash.com/photo-1710868682061-aac26b495f0d?q=80&w=931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Flamants roses en Amérique" class="card-image">
            <p>Les flamants roses sont aussi présents dans les régions américaines, notamment au Canada et au Mexique.</p>
        </div>
        <div class="card" aria-labelledby="asia">
            <h3 id="asia">Asie</h3>
            <img src="https://images.unsplash.com/photo-1620018764859-530ce4a5523b?q=80&w=990&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Flamants roses en Asie" class="card-image">
            <p>Les flamants roses sont aussi présents dans le monde asiatique, notamment dans les pays du Pacifique, à Shangai en Chine.</p>
        </div>
    </div>
</article>