<section class="intro">
    <h2>Les caractéristiques des flamants roses</h2>
</section>

<section class="section">
    <h2>Marqueurs physiques des Flamants Roses</h2>
    <p>Les flamants roses se distinguent par leur silohouette élancée et leurs longues pattes. Voici quelques-unes de leurs caractéristiques physiques les plus marquantes : </p>
    <p><strong>Plumage :</strong> Le plumage des flamants roses varie du blanc au rose, avec des teintes plus vives chez les adultes. Cette couleur est due à leur alimentation, riche en pigments caroténoïdes présent dans les algues et les crustacés.</p>
    <p><strong>Taille et Poids : </strong></p>
</section>
