<section class="intro">
    <h1 class="intro-title">Les caractéristiques des flamants roses</h1>
</section>

<article class="section" aria-labelledby="physiques">
    <h2 id="physiques">Marqueurs physiques des Flamants Roses</h2>
    <div class="physiques">
        <div class="physiques-image">
            <img 
                src="https://images.unsplash.com/photo-1595344253433-6baa8e8798f9?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                srcset="
                    https://images.unsplash.com/photo-1595344253433-6baa8e8798f9?w=400&auto=format&fit=crop 400w,
                    https://images.unsplash.com/photo-1595344253433-6baa8e8798f9?w=800&auto=format&fit=crop 800w,
                    https://images.unsplash.com/photo-1595344253433-6baa8e8798f9?w=1200&auto=format&fit=crop 1200w
                "
                sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
                width="800"
                height="600"
                alt="Flamants rose avec son long cou" 
                class="section-image"
                loading="lazy"
            >
        </div>
        <div class="physiques-text">
            <p>Les flamants roses se distinguent par leur silhouette élancée et leurs longues pattes. Voici quelques-unes de leurs caractéristiques physiques les plus marquantes : </p>
            <p><strong>Plumage :</strong> Le plumage des flamants roses varie du blanc au rose, avec des teintes plus vives chez les adultes. Cette couleur est due à leur alimentation, riche en pigments caroténoïdes présent dans les algues et les crustacés.</p>
            <p><strong>Taille et Poids : </strong>Les flamants roses mesurent généralement entre 1,2 et 1,5 mètre de hauteur. Ils peuvent peser entre 2 et 4 kg.</p>
            <p><strong>Cou et tête :</strong> Leur long cou courbé et leur tête relativement petite par rapport à leur corps sont caractéristiques. Leur bec est aussi un point distinctif, courbé à 45 degrés, et leur taille leur permet de filtrer la nourriture dans l'eau.</p>
            <p><strong>Pattes :</strong> Ils ont de longues pattes fines, adaptées à la marche dans les eaux peu profondes, et sont également très bons pour se tenir sur une patte (un comportement de repos typique).</p>
        </div>
    </div>
</article>

<article class="section" aria-labelledby="habitat">
    <h2 id="habitat">Habitat des flamants roses</h2>
    <div class="habitat">
        <div class="habitat-text">
            <p>Les flamants roses vivent principalement dans des zones humides. Leur habitat naturel comprend :</p>
            <ul>
                <li>    
                    <strong>Lacs salés, étangs, lagunes et marais :</strong> Les flamants roses sont souvent trouvés dans des zones peu profondes, avec une forte salinité, dans des régions tropicales et subtropicales.
                </li>
                <li>
                    <strong>Climat chaud :</strong> Ils préfèrent des températures relativement chaudes et sont souvent associés à des zones comme les côtes, les grandes plaines inondées ou les deltas de rivières.
                </li>
                <li>
                    <strong>Comportement migratoire :</strong> Certains groupes de flamants roses migrent selon les saisons, se déplaçant vers des zones plus chaudes ou plus riches en nourriture.
                </li>
            </ul>
        </div>
        <div class="habitat-image">
            <img 
                src="https://images.unsplash.com/photo-1553520077-205eb37650fa?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZmxhbWluZ298ZW58MHwwfDB8fHwy" 
                alt="Habitat naturel des flamants roses" 
                class="section-image"
                loading="lazy"
            >
        </div>
    </div>
</article>

<article class="section" aria-labelledby="social">
    <h2 id="social">Vie Sociale : Solitaires ou en Groupe ?</h2>
    <div class="social">
        <div class="social-image">
            <img 
                src="https://images.unsplash.com/photo-1524272332618-3a94122bb0c1?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZmxhbWluZ298ZW58MHwwfDB8fHwy" 
                alt="Flamants roses en groupe" 
                class="section-image"
                loading="lazy"
            >
        </div>
        <div class="social-text">
            <p>Les flamants roses sont des animaux hautement sociaux. Ils vivent et se déplacent en grands groupes, appelés colonies, qui peuvent compter des centaines voire des milliers d'individus. Cette vie en groupe leur permet de :</p>
            <ul> 
                <li>    
                    <strong>Se protéger :</strong> Leur grand nombre sert de protection contre les prédateurs.
                </li>
                <li>
                    <strong>Reproduction :</strong> Les flamants roses forment des paires monogames pour se reproduire, et ces paires font souvent partie de grandes colonies où les nids sont construits à proximité les uns des autres.
                </li>
            </ul>
            <p>
                Les flamants roses sont également connus pour leur danse collective, un comportement fascinant observé lors des parades de reproduction.
            </p>
        </div>
    </div>
</article>


<article class="section" aria-labelledby="conservation">
    <h2 id="conservation">Statut de Conservation</h2>
    
    <div class="conservation">
        <div class="conservation-images">
            <!-- Aligner ces trois images en ligne en format desktop-->
            <img 
                src="https://cdn.pixabay.com/photo/2017/02/17/14/22/flamingo-2074199_640.jpg" 
                alt="Flamants roses classiques" 
                class="section-image"
                loading="lazy"
            >
            <img 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/James_Flamingo.jpg/250px-James_Flamingo.jpg" 
                alt="Flamants roses de James" 
                class="section-image"
                loading="lazy"
            >
            <img 
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Ph%C3%A9nicopt%C3%A8re_4.jpg/250px-Ph%C3%A9nicopt%C3%A8re_4.jpg" 
                alt="Flamant rose du Chili" 
                class="section-image"
                loading="lazy"
            >
        </div>
       
        <div class="conservation-text">
            <p>Le statut des flamants roses varie en fonction des espèces :</p>
            <ul>
                <li>    
                    <strong>Flamant rose commun (<em>Phoenicopterus roseus</em>) :</strong> Cette espèce n'est pas considérée comme menacée. En fait, elle est relativement abondante dans ses zones de répartition.
                </li>
                <li>    
                    <strong>Autres espèces</strong> (comme le flamant de James (<em></em>Phoenicopterus jamesi), le flamant du Chili (<em>Phoenicopterus chilensis</em>), etc.) sont parfois classées comme vulnérables ou en danger en raison de la perte de leur habitat, de la pollution et du changement climatique.
                </li>
            </ul>
            <p>Ainsi, les flamants roses ne sont pas tous en voie de disparition, mais certaines populations sont effectivement vulnérables.</p>
        </div>
    </div>
 
</article>

<article class="section" aria-labelledby="protection">
    <h2 id="protection">Protection des Flamants Roses</h2>
    
    <div class="protection">
        <div class="protection-image">
            <img 
                src="https://cdn.pixabay.com/photo/2017/06/09/20/37/flamingo-2388197_640.jpg" 
                alt="Flamants roses protégés avec une balise de localisation à la patte" 
                class="section-image"
                loading="lazy"
            >
        </div>
    
        <div class="protection-text">
            <p>
                Oui, de nombreuses populations de flamants roses sont protégées par des lois nationales et internationales. Par exemple :
            </p>
            <ul>
                <li>     
                    <strong>Sites protégés :</strong> De nombreux habitats de flamants roses sont désormais des zones protégées, comme les parcs nationaux et réserves naturelles.
                </li>
                <li>    
                    <strong>Conventions internationales :</strong> Les flamants roses sont également protégés par des accords internationaux tels que la Convention de Ramsar sur les zones humides ou la Convention sur la conservation des oiseaux migrateurs.
                </li>
            </ul>
        </div>
    </div>
</article>

<article class="section" aria-labelledby="awareness">
    <h2 id="awareness">Sensibilisation à la Protection des Flamants Roses</h2>
    <div class="awareness">
        <div class="awareness-image">
            <img 
                src="https://cdn.pixabay.com/photo/2015/12/16/17/45/flamingo-1096293_960_720.jpg" 
                alt="Un flamant rose et son petit" 
                class="section-image"
                loading="lazy"
            >
        </div>
        <div class="awareness-text">
            <p>
                La protection des flamants roses est cruciale pour maintenir la biodiversité et la santé des écosystèmes aquatiques. Pour sensibiliser le grand public :
            </p>
            <ul>
                <li>
                    <strong>Éducation :</strong> Il est important d'informer le public sur l'importance des flamants roses dans les écosystèmes et la nécessité de préserver leurs habitats.
                </li>
                <li>
                    <strong>Engagement communautaire :</strong> Impliquer les communautés locales dans les efforts de conservation, comme la gestion des zones humides ou la réduction de la pollution.
                </li>
                <li>
                    <strong>Protéger leur habitat :</strong> Il faut investir dans la protection des zones humides et des lacs salés, qui sont essentiels à leur survie.
                </li>
            </ul>
        </div>
    </div>
</article>

<article class="conclusion">
    <h2>Conclusion</h2>
    <p>Les flamants roses sont des animaux majestueux qui méritent d'être protégés en raison de leur beauté, de leur rôle écologique et de la fragilité de leurs habitats. En sensibilisant le public à leur importance et en prenant des mesures pour préserver leurs environnements, nous pouvons aider à assurer leur survie à long terme.</p>
</article>
