<mat-toolbar color="primary" class="navbar">
    <button
        mat-icon-button
        class="menu-button"
        aria-label="Ouvrir le menu"
        [matMenuTriggerFor]="menu"
    >
        <mat-icon>menu</mat-icon>
    </button>

    <span class="logo">🦩 Flamingo Wiki</span>
    <span class="spacer"></span>

    <nav class="desktop-menu" aria-label="Navigation principale">
        <a mat-button routerLink="/">Accueil</a>
        <a mat-button routerLink="/caracteristiques">Caractéristiques</a>
        <a mat-button routerLink="/carte">Carte</a>
        <a mat-button routerLink="/galerie">Galerie</a>
    </nav> 

    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">Accueil</button>
        <button mat-menu-item routerLink="/caracteristiques">Caractéristiques</button>
        <button mat-menu-item routerLink="/carte">Carte</button>
        <button mat-menu-item routerLink="/galerie">Galerie</button>
    </mat-menu>
</mat-toolbar>