<section class="hero">
    <video autoplay muted loop playsinline class="hero-video">
        <source src="https://videocdn.cdnpk.net/videos/49bac364-68f7-4695-b443-d3eb8311689c/horizontal/previews/clear/large.mp4?token=exp=1743957162~hmac=372b1b0159155c9fcdcd9842916c3f43f97da2fbb60b01b89252bff4d3bbb266" type="video/mp4">
        Votre navigateur ne prend pas en charge les vidéos HTML 5.
    </video>
    <div class="hero-content">
        <h1>Bienvenue sur Flamingo Wiki</h1>
        <p>Découvre la vie fascinante des flamants roses et comment tu peux les aider à propérer !</p>
    </div>
</section>

<section class="section">
    <h2>Pourquoi les flamants roses s'appellent ainsi ?</h2>
    <p> 
        Le nom de "flamant" vient du mot latin <em>flamma</em>, en référence à leur plumage rose vif.
        Leur couleur unique vient des caroténoïdes contenus dans les algues et les crevettes qu'ils consomment !
    </p> 
</section>

<section class="section">
    <h2>Pourquoi ils sont si intéressants ?</h2>
    <ul>
        <li>Ils vivent en colonies immenses de plusieurs milliers d'individus.</li>
        <li>Ils dorment souvent debout sur une seule patte !</li>
        <li>Ils contruisent des nids en forme de mini-volcans avec de la boue.</li>
        <li>Leur parade amoureuse est une véritable chorégraphie synchronisée</li>
    </ul>
</section>

<section class="cta">
    <h3>Envie d'en savoir plus ?</h3>
    <a routerLink="/caracteristiques">Explorer les caractéristiques</a>
</section>
