/* Pour les écrans de smartphones*/
.gallery {
    padding: 1rem;
    text-align: center;
}

.photo-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.photo-item {
    border: 2px solid #ff6f91;
    border-radius: 8px;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Navigation au clavier */
.photo-item:focus-within {
    outline: 3px solid #ff3d68;
}

/* Pour les écrans de smartphone */
@media (max-width: 767px) {
    photo-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    img {
        width: 100%;
        height: auto;
    }
}

/* Pour les écrans de tablettes */

@media (min-width: 768px) and (max-width: 1024px) {
    .photo-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    img {
        width: 50%;
        height: 400px;
    }
}

/* Pour les écrans d'ordinateur */

@media (min-width: 1025px) {
    .photo-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    img {
        width: 25%;
        height: 748px;
    }
}